<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<%- include('categoryNavBar') %>
<div class="jumbotron text-center">
    <h1>Editing <%= entry.label %></h1>
</div>
    
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        
        <% if (errors.length > 0) { %>
            <div class="alert alert-danger">
                <% for (error of errors) { %>
                    <%= error %><br>
                <% } %>
            </div>
        <% } %>
        
        <form action="/categories/<%= categorySlug %>/<%= entry._id%>/processEditEntry" method="POST">
            
            <div class="form-group">
                <label>Entry Label</label>
                <input type="text" name="label" class="form-control" value="<%= entry.label %>">
            </div>
            
            <div class="form-group">
                <label>Entry Query</label>
                <input type="text" name="apiQuery" class="form-control" value="<%= entry.apiQuery %>">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg">Update</button>
            </div>
            
        </form>
        
    </div>
</div>
